/*!
 * Abrüpt
 */
@charset "UTF-8";
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-bold-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-bold-webfont.woff') format('woff'); */
/*   font-weight: bold; */
/*   font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-italic-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-italic-webfont.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: italic; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-bolditalic-webfont.woff') format('woff'); */
/*   font-weight: bold; */
/*   font-style: italic; */
/* } */
/*  */
@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*  */
/* @font-face { */
/*   font-family: 'Fira Mono'; */
/*   src: */
/*     url('fonts/fira-mono.woff2') format('woff2'), */
/*     url('fonts/fira-mono.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

:root {
  --color-fg: #000;
  --color-bg: #fff;
  --color-anim: #f00;
  --color-anim-light: #999;
}

*,
::before,
::after {
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

html, body {
  /* min-height: 100%; */
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

::-moz-selection {
  color: unset;
  background: unset;
}

::selection {
  color: unset;
  background: unset;
}

body {
  margin: 0 auto;
  font-family: "Crimson Text", serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  font-size: 1.6rem;
  color: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  padding: 0;
  width: 100%;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 4.0rem;
  }
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  width: 100%;
  border: 0;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

figure a {
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  border-bottom: unset;
  height: 1.62em;
  text-indent: 0;
}

figure a:hover,
figure a:focus,
figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 2em 0 0;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

a {
  margin: 0;
  padding: 0.3em 0.4em 0.2em;
  color: var(--color-fg);
  text-decoration: none;
  border: 2px solid var(--color-fg);
  background: var(--color-bg);
}

a:hover,
a:focus {
  color: var(--color-bg);
  text-decoration: none;
  background: var(--color-fg);
  border: 2px solid var(--color-fg);
}

a:active {
  color: var(--color-fg);
  text-decoration: none;
  background: var(--color-fg);
  border: 2px solid var(--color-fg);
}

p {
  margin: 0;
  max-width: 66ch;
}
p + p {
  margin: 0.5em 0 0 0;
}

em {
  font-style: italic;
}

hr {
  display: block;
  height: 2px;
  width: 62%;
  border: 0;
  border-top: 2px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

ul {
  list-style: none;
  margin: 1.62em 0;
  padding: 0;
}

.centre {
  text-align: center;
}

.droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.noemptyline {
  margin-bottom: 0;
}

.emptyline {
  margin-bottom: 1.6em;
}

.emptylinebefore {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.title {
  /* text-align: center; */
  /* z-index: -1; */
}

.author {
  /* text-align: center; */
}

.publisher {
  /* text-align: center; */
}

.marquetypographique {
  margin: 1.62em auto;
  width: 100%;
  max-width: 300px;
}

/* Modifications spécifiques */

body {
  background: var(--color-bg);
}

button {
  cursor: none;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.informations {
  display: none;
}

.informations--show {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-fg);
  background: var(--color-bg);
  padding: 0.5em;
  text-align: center;

  .informations__link {
    text-align: center;
    display: block;
    margin: 0;
  }
}

.options {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 0.4em;
  z-index: 1000;
  font-size: 0.8em;
}

@media (min-width: 55em) { /* 1280 px */
  .options {
    font-size: 0.6em;
  }
}

.button {
  user-select: none;
  border-radius: 0;
  cursor: none;
  margin: 0.2em;
  padding: 0.2em;
  text-align: center;
  color: var(--color-fg);
  text-decoration: none;
  border: 2px solid var(--color-fg);
  background: var(--color-bg);
}

.button:hover,
.button:focus {
  color: var(--color-bg);
  text-decoration: none;
  background: var(--color-fg);
  border: 2px solid var(--color-fg);
}

.button:active {
  color: var(--color-fg);
  text-decoration: none;
  background: var(--color-fg);
  border: 2px solid var(--color-fg);
}

.contenu {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  color: var(--color-fg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  position: relative;
  overflow: hidden;

  &__image {
    display: none;
  }

  &__image--visible {
    margin: 0 auto;

    img {
      user-select: none;
      display: block;
      margin: 0 auto;
      /* width: 80%; */
      max-width: 50vw;
      max-height: 50vh;
      max-height: calc(var(--vh, 1vh) * 50);
    }
  }
}

.contenu canvas {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

.hide {
  display: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  background: var(--color-fg);
  transition: all 0.4s linear;
  transition-property: background, transform;
}

.cursor--eraser {
  background: var(--color-anim-light);
  transform: translate(-50%, -50%) scale(2);
}

.cursor--main {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  z-index: 1001;
  opacity: 1;
}

.cursor--bg {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 1000;
  opacity: 0.3;
}

.cursor--interact {
  transform: translate(-50%, -50%) scale(2);
  background: var(--color-bg);
  opacity: 0.8;
}

.cursor--click {
  transform: translate(-50%, -50%) scale(2);
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}
